@font-face {
  font-family: 'Vani';
  src: local('Vani'), url(../assets/fonts/Vani.ttf) format('opentype');
}

@font-face {
  font-family: 'Vani';
  font-weight: 900;
  src: local('Vani'), url(../assets/fonts/Vanib.ttf) format('opentype');
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Vani, serif;
  color: rgba(242, 242, 242, 1);
  background-image: url('../assets/images/background.png');
  height: 100vh;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}
